<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVATAR_BUCKET</key>
	<string>child-avatars</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>allowanceAlley</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>allowanceAlley</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>auth-callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>allwancealley</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0cHJwdWNnb29ha3pwdWFldGRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwOTk4NDEsImV4cCI6MjA3MDY3NTg0MX0.KMhe-JmWcMf84O2ep6vPl1gETOCnSUZU2zZk0Dc9iwo</string>
	<key>SUPABASE_URL</key>
	<string>https://xtprpucgooakzpuaetdg.supabase.co</string>
</dict>
</plist>
